<app-download-file [fileHandler]="profilePicHandler" [fileId]="userId" [autodownload]="true" (blobEmitter)="onGetImage($event)" (errorEmitter)="onError()"></app-download-file>
<div [style]="width" class="center">

    <ng-container *ngIf="this.loading; else notLoading">
        <mat-spinner [diameter]="size"></mat-spinner>
    </ng-container>
    <ng-template #notLoading>
        <ng-container *ngIf="!this.hasError; else downloadError">
            <img [style]="style" [src]="imageSrc"/>    
        </ng-container>
        <ng-template #downloadError>
            <img [style]="fit+width" src="assets/images/defaultIcon.svg"/>    
        </ng-template>
        
    </ng-template>
    
    
</div>