<mat-card class="center center-text">
    <mat-card-title>{{this.user.username}}'s Profile</mat-card-title>
    <mat-card-content>
        <app-profile-picture [showUploadButton]="true"  [userId]="this.user.id"></app-profile-picture>
        <br>
        <h2>
            {{this.user.name}}
        </h2>
        <br>
        <p>{{this.user.profile.about}}</p>
    </mat-card-content>
    <mat-card-actions>
        <table>
            <tr>
                <td>
                    <button mat-raised-button>Update About Me</button>
                </td>
            </tr>
        </table>
      </mat-card-actions>
</mat-card>