<mat-card class="left-align-text center">
    <mat-card-title>
        <ng-container *ngIf="isComment; else postLink">
            <a [routerLink]="link">{{comment.post.title}}</a>
        </ng-container>
        <ng-template #postLink> 
            <a [routerLink]="link">{{content.title}}</a>
        </ng-template>
        
    </mat-card-title>
    <mat-card-subtitle>
        <div style="display: inline-block;">
            <app-profile-picture style="float: left;" [size]="30" [userId]="user.id"></app-profile-picture>
            <div style="float: right;">
                by {{content.authorName}} | {{content.releaseDate | date}}
            </div>
        </div>
    </mat-card-subtitle>
    <mat-card-content>
        <article>
            {{content.text | postPreview}}
        </article>
    </mat-card-content>
</mat-card>
<br>