<mat-label>Enter and confirm password <span class="smaller">(Password must have at least one captial letter, one small letter, and one digit.)</span>:</mat-label>

<table class="full-width bottom-margin" cellspacing="0">
    <tr>
        <td>
            <app-password name="password1" (onChange)="setPassword1($event)" placeholder="Enter Password..."
                inputName="Password"></app-password>
        </td>
        <td style="padding-right: 1px;">
            <app-password name="password2" (onChange)="setPassword2($event)" placeholder="Confirm Password..."
                inputName="Confirm Password"></app-password>
        </td>
    </tr>
    <tr>
        <mat-error class="smaller" style="padding-left: 10px;" *ngIf="inputFormControl.errors?.noMatch">
            Both passwords must match!
        </mat-error>
        <td colspan="2">
        </td>
    </tr>
</table>