<mat-form-field class="full-width" appearance="fill">
    <mat-label>{{inputName}}</mat-label>
    <input matInput [readonly]="readonly" [type]="type" [max]="max" [min]="min" 
    [placeholder]="placeholder" [formControl]="control">
    <mat-error *ngIf="(control.errors?.minlength) || (control.errors?.maxlength)">
        {{inputName}} must be {{min}}-{{max}} characters.
      </mat-error>
      <mat-error *ngIf="control.hasError('required')">
        {{inputName}} is <strong>required</strong>.
      </mat-error>
      <mat-error *ngIf="control.hasError('pattern')">
        {{patternErrorMessage}}
      </mat-error>
      <mat-error *ngIf="control.hasError('keyAlreadyExists')">
        {{inputName}} already exists. Please choose another.
      </mat-error>
</mat-form-field>