<input [formControl]="control" [accept]="accepts" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload vertical-margin">
    <table class="half-width center">
        <tr>
            <td style="width: 10%;">
                <div class="progress">

                    <mat-progress-bar class="progress-bar" mode="determinate"
                                      [value]="uploadProgress" *ngIf="uploadProgress">
                  
                    </mat-progress-bar>
                  
                    <mat-icon class="cancel-upload" (click)="cancelUpload()" 
                              *ngIf="uploadProgress">delete_forever</mat-icon>
                  
                  </div>
            </td>
            <td>
                <span>
                    {{(fileName ? "Selected: " + fileName + "."  : defaultMessage)}}
                </span>
                <mat-error *ngIf="control.hasError('fileSize')">
                    {{maxSizeMessage}}
                </mat-error>
            </td>
            <td>
                <button mat-mini-fab color="primary" class="upload-btn right-align-text" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>