<mat-form-field class="full-width bottom-margin" appearance="fill">
	<mat-icon (click)="toggleInputType()" class="inner-icon">remove_red_eye</mat-icon>
    <mat-label>Password</mat-label>
    <input [type]="type" matInput [formControl]="inputFormControl" [placeholder]="placeholder" (ngModelChange)="onPasswordChanged($event)">
    <mat-error *ngIf="inputFormControl.hasError('pattern')">
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="inputFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="(inputFormControl.errors?.minlength) || (inputFormControl.errors?.maxlength)">
        {{inputName}} must be {{min}}-{{max}} characters.
      </mat-error>
      <mat-error *ngIf="inputFormControl.hasError('required')">
        {{inputName}} is <strong>required</strong>.
      </mat-error>
</mat-form-field>